//-----------------------------------------------------------------------
// Placeholders
//-----------------------------------------------------------------------
%u-heading {
	@include margin(($line-break * 3) 0 ($line-break * 1));
	font-weight: inherit;

	@include media('<medium') {
		@include margin(($line-break * 3) 0 $line-break);
	}
	
	@include media('<small') {
		br {
			display: none;
		}
	}
	
	a, 
	a:active, 
	a:hover {
		color: inherit;
	}
}



//-----------------------------------------------------------------------
// Classes
//-----------------------------------------------------------------------
html {
	color: get-color('font-color');
	font-family: $font-family;
	font-size: get-font-size('base');
	font-weight: 400;
	line-height: remove-unit($line-height);
}

h1,
h2, 
h3, 
h4, 
h5, 
h6,
.h1,
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
	@extend %u-heading;
}

h1 {
	@include font-size('h1');
}

h2 {
	@include font-size('h2');
}

h3 {
	@include font-size('h3');
}

h4 {
	@include font-size('h4');
}

h5 {
	@include font-size('h5');
}

h6 {
	@include font-size('h6');
}

p,
ul,
ol,
blockquote, 
table, 
address,
hr, 
form {
	@include margin($line-break 0);
}

a {
	@include transition(normal color);
	color: get-color('accent-color');
	text-decoration: none;

	&:active, 
	&:hover {
		color: lighten(get-color('accent-color'), 10%);
		text-decoration: underline;
	}
}

article {
	@include margin('large 0');
}

strong {
	font-weight: bold;
}

pre {
	white-space: pre-wrap;
}

code {
	white-space: pre;
}

blockquote {
	@include padding(0 0 0 medium);
}

img {
	max-width: 100%;
}
