/// @group Fabric Base Placeholders

/// @access public

%html {
	@include color(default);
	@include font(base);
	font-family: $font-family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
