//---------------------------------------------------------
// Site Container
//---------------------------------------------------------
.site-container {
	max-width: $site-width;
	margin-left: auto;
	margin-right: auto;
	padding: 0 ($gutter-width * .5);
}


//---------------------------------------------------------
// Grid
//---------------------------------------------------------
.row {
	@include white-space(2 (-$gutter-width * .5));
	@extend .clearfix;
	margin-bottom: white-space-to-px(2) - $gutter-width;
	
	+ .row {
		margin-top: -$gutter-width;
	}
}

[class*=col-] {
	box-sizing: border-box;
	float: left;
	padding: 0 ($gutter-width * .5) $gutter-width;
	position: relative;
	width: 100%;
}

@for $i from 1 through $grid-width {
	.col-#{$i} {
		width: 100% * ($i / $grid-width);
	}
}

@for $i from 1 through ($grid-width - 1) {
	.col-push-#{$i} {
		margin-left: 100% * ($i / $grid-width);
	}
	
	.col-pull-#{$i} {
		margin-right: 100% * ($i / $grid-width);
	}
}

@include media("<large") {
	@for $i from 1 through $grid-width {
		.col-lg-#{$i} {
			width: 100% * ($i / $grid-width);
		}
	}
	
	@for $i from 1 through ($grid-width - 1) {
		.col-lg-push-#{$i} {
			margin-left: 100% * ($i / $grid-width);
		}
		
		.col-lg-pull-#{$i} {
			margin-right: 100% * ($i / $grid-width);
		}
	}
}

@include media("<medium") {
	@for $i from 1 through $grid-width {
		.col-md-#{$i} {
			width: 100% * ($i / $grid-width);
		}
	}
	
	@for $i from 1 through ($grid-width - 1) {
		.col-md-push-#{$i} {
			margin-left: 100% * ($i / $grid-width);
		}
		
		.col-md-pull-#{$i} {
			margin-right: 100% * ($i / $grid-width);
		}
	}
}

@include media("<small") {
	@for $i from 1 through $grid-width {
		.col-sm-#{$i} {
			width: 100% * ($i / $grid-width);
		}
	}
	
	@for $i from 1 through ($grid-width - 1) {
		.col-sm-push-#{$i} {
			margin-left: 100% * ($i / $grid-width);
		}
		
		.col-sm-pull-#{$i} {
			margin-right: 100% * ($i / $grid-width);
		}
	}
}




//---------------------------------------------------------
// Clearfix
//---------------------------------------------------------
.clearfix {
	zoom: 1;
	
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}