//---------------------------------------------------------
// Site Container
//---------------------------------------------------------
.site-container {
	max-width: $site-width;
	margin-left: auto;
	margin-right: auto;
	padding: 0 ($gutter-width * .5);
}


//---------------------------------------------------------
// Grid
//---------------------------------------------------------
.row {
	@include white-space(2 (-$gutter-width * .5));
	@extend .clearfix;
	margin-bottom: white-space-to-px(2) - $gutter-width;
	
	+ .row {
		margin-top: -$gutter-width;
	}
}

[class*=col-] {
	box-sizing: border-box;
	float: left;
	padding: 0 ($gutter-width * .5) $gutter-width;
	position: relative;
	width: 100%;
}

@for $i from 1 through $grid-width {
	.col-#{$i}-#{$grid-width} {
		width: 100% * ($i / $grid-width);
	}
}

@include media("<large", ">=medium") {
	@for $i from 1 through $grid-width {
		.col-large-#{$i}-#{$grid-width} {
			width: 100% * ($i / $grid-width);
		}
	}
}

@include media("<medium", ">=small") {
	@for $i from 1 through $grid-width {
		.col-medium-#{$i}-#{$grid-width} {
			width: 100% * ($i / $grid-width);
		}
	}
}

@include media("<small") {
	@for $i from 1 through $grid-width {
		.col-small-#{$i}-#{$grid-width} {
			width: 100% * ($i / $grid-width);
		}
	}
}




//---------------------------------------------------------
// Clearfix
//---------------------------------------------------------
.clearfix {
	zoom: 1;
	
	&:after {
		clear: both;
		content: "";
		display: table;
		margin-bottom: -($gutter-width * 1/2);
	}
}