//---------------------------------------------------------------
// Sets font weight responsively
//---------------------------------------------------------------

@mixin font-weight($_value, $_size: '') {
	
	@if type-of($_value) == string and index(map-keys($font-weight), $_value) {
		
		$_font-weight: get-font-weight($_value, $_size);
		
		@if type-of($_font-weight) == 'map' {
		
			$first: true;

			@each $_size in list-reverse(map-keys($_font-weight)) {
				@if index(map-keys($breakpoints), $_size) {
					
					@if $first {
						
						font-weight: get-font-weight($_value, $_size);
						$first: false;
						
					} @else {
						
						@include media('<'+$_size) {
							
							font-weight: get-font-weight($_value, $_size);
							
						}
						
					}
					
				}
			}
			
		} @else {
			
			font-weight: $_font-weight;
			
		}
		
	}
	
}
