//---------------------------------------------------------------
// Sets font size responsively
//---------------------------------------------------------------

@mixin font-size($_value, $_size: '') {
	
	@if type-of($_value) == string and index(map-keys($font-size), $_value) {
		
		$_font-size: get-font-size($_value, $_size);
		
		@if type-of($_font-size) == 'map' {
			
			$first: true;

			@each $_size in list-reverse(map-keys($_font-size)) {
				@if index(map-keys($breakpoints), $_size) {
					
					@if $first {
						
						font-size: get-font-size($_value, $_size);
						$first: false;
						
					} @else {
						
						@include media('<'+$_size) {
							
							font-size: get-font-size($_value, $_size);
							
						}
						
					}
					
				}
			}
			
		} @else {
			
			font-size: $_font-size;
			
		}
		
	}
	
}
