//---------------------------------------------------------------
// Sets line height responsively
//---------------------------------------------------------------

@mixin line-height($_value, $_size: '') {
	
	@if type-of($_value) == string and index(map-keys($line-height), $_value) {
		
		$_line-height: get-line-height($_value, $_size);
		
		@if type-of($_line-height) == 'map' {
		
			$first: true;

			@each $_size in list-reverse(map-keys($_line-height)) {
				@if index(map-keys($breakpoints), $_size) {
					
					@if $first {
						
						line-height: get-line-height($_value, $_size);
						$first: false;
						
					} @else {
						
						@include media('<'+$_size) {
							
							line-height: get-line-height($_value, $_size);
							
						}
						
					}
					
				}
			}
			
		} @else {
			
			$_font-size: get-font-size($_value);
			
			@if type-of($_font-size) == 'map' {
				$_font-size: get-font-size($_value, nth(list-reverse(map-keys($_font-size)), 1));
			}
			
			line-height: $_line-height / $_font-size;
			
		}
		
	} @else {
		
		line-height: $_value;
		
	}
	
}
