//---------------------------------------------------------------
// Sets a property based on the responsive key:value 
// pairs defined in a map
//---------------------------------------------------------------

@mixin responsive-property($_property, $_values) {
	
	$_first: true;
	$_negative: false;
	
	@if str-index($_property, '-') == 1 {
		
		$_negative: true;
		$_property: str-slice($_property, 2);
		
	}

	@each $_breakpoint in map-keys($_values) {
		
		$_value: map-get($_values, $_breakpoint);
		
		@if $_negative {
			
			$_value: -$_value;
			
		}
			
		@if $_first {
			
			#{$_property}: _($_value);
			$_first: false;
			
		} @else {
			
			@if str-index($_breakpoint, '<') == null {
				
				$_breakpoint: '<#{$_breakpoint}';
			
			}
			
			@include media('#{$_breakpoint}') {
				
				#{$_property}: _($_value);
				
			}
		
		}
		
	}
	
}
