//---------------------------------------------------------
// Flickerbox Resets
//---------------------------------------------------------
body {
	margin: 0;
	padding: 0;
	> * {
		overflow: hidden;
	}
}
* {
	&,&:before,&:after {
		box-sizing: border-box;
		background-repeat: no-repeat;
	}
	&:focus {
		outline: none;
	}
}
.article {
	display: block;
}
img {
	max-width: 100%;
	height: auto;
	border: none;
}
table {
    border-collapse: collapse;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li {
	font-weight: normal;
	margin: 0 0 1em;
}
figure,
ul,
ol,
li { // reset
	margin: 0;
	padding: 0;
	list-style: none;
}