//---------------------------------------------------------
// Modules
// Modules are more complex utilities that get called before other custom classes so they can be cascaded upon
//---------------------------------------------------------

//---------------------------------------------------------
// Grid (formerly Responsive Grid)
//---------------------------------------------------------
.m-grid {
	margin-left: -3%;
	// display: flex;
	// flex-wrap: wrap;
}
.m-grid__item {
	display: inline-block;
	// display: flex;
	vertical-align: top;
	padding: 0 0 3% 3%;
	width: 25%;
}
.m-grid--padding-1_5p {
	margin-left: -1.5%;
	> .m-grid__item {
		padding: 0 0 1.5% 1.5%;
	}
}
.m-grid--padding-4_5p {
	margin-left: -4.5%;
	> .m-grid__item {
		padding: 0 0 4.5% 4.5%;
	}
}
.m-grid--padding-6p {
	margin-left: -6%;
	> .m-grid__item {
		padding: 0 0 6% 6%;
	}
}
.m-grid--padding-0 {
	margin-left: 0;
	> .m-grid__item {
		padding: 0;
	}
}
.m-grid--full-8 > .m-grid__item { width: 1 / 8 * 100% };
.m-grid--full-7 > .m-grid__item { width: 1 / 7 * 100% };
.m-grid--full-6 > .m-grid__item { width: 1 / 6 * 100% };
.m-grid--full-5 > .m-grid__item { width: 1 / 5 * 100% };
.m-grid--full-4 > .m-grid__item { width: 1 / 4 * 100% };
.m-grid--full-3 > .m-grid__item { width: 1 / 3 * 100% };
.m-grid--full-2 > .m-grid__item { width: 1 / 2 * 100% };
.m-grid--full-1 > .m-grid__item { width: 1 / 1 * 100% };
@media only screen and (min-width: 1600px) { // this is the only one that start minimum
	.m-grid--huge-7 > .m-grid__item { width: 1 / 7 * 100% };
	.m-grid--huge-6 > .m-grid__item { width: 1 / 6 * 100% };
	.m-grid--huge-5 > .m-grid__item { width: 1 / 5 * 100% };
	.m-grid--huge-4 > .m-grid__item { width: 1 / 4 * 100% };
	.m-grid--huge-3 > .m-grid__item { width: 1 / 3 * 100% };
	.m-grid--huge-2 > .m-grid__item { width: 1 / 2 * 100% };
	.m-grid--huge-1 > .m-grid__item { width: 1 / 1 * 100% };
}
@media only screen and (max-width: $bp-xl) {
	.m-grid--xl-7 > .m-grid__item { width: 1 / 7 * 100% };
	.m-grid--xl-6 > .m-grid__item { width: 1 / 6 * 100% };
	.m-grid--xl-5 > .m-grid__item { width: 1 / 5 * 100% };
	.m-grid--xl-4 > .m-grid__item { width: 1 / 4 * 100% };
	.m-grid--xl-3 > .m-grid__item { width: 1 / 3 * 100% };
	.m-grid--xl-2 > .m-grid__item { width: 1 / 2 * 100% };
	.m-grid--xl-1 > .m-grid__item { width: 1 / 1 * 100% };
}
@media only screen and (max-width: $bp-large) {
	.m-grid--large-6 > .m-grid__item { width: 1 / 6 * 100% };
	.m-grid--large-5 > .m-grid__item { width: 1 / 5 * 100% };
	.m-grid--large-4 > .m-grid__item { width: 1 / 4 * 100% };
	.m-grid--large-3 > .m-grid__item { width: 1 / 3 * 100% };
	.m-grid--large-2 > .m-grid__item { width: 1 / 2 * 100% };
	.m-grid--large-1 > .m-grid__item { width: 1 / 1 * 100% };
}
@media only screen and (max-width: $bp-medium-large) {
	.m-grid--medium-large-6 > .m-grid__item { width: 1 / 6 * 100% };
	.m-grid--medium-large-5 > .m-grid__item { width: 1 / 5 * 100% };
	.m-grid--medium-large-4 > .m-grid__item { width: 1 / 4 * 100% };
	.m-grid--medium-large-3 > .m-grid__item { width: 1 / 3 * 100% };
	.m-grid--medium-large-2 > .m-grid__item { width: 1 / 2 * 100% };
	.m-grid--medium-large-1 > .m-grid__item { width: 1 / 1 * 100% };
}
@media only screen and (max-width: $bp-medium) {
	.m-grid--medium-6 > .m-grid__item { width: 1 / 6 * 100% };
	.m-grid--medium-5 > .m-grid__item { width: 1 / 5 * 100% };
	.m-grid--medium-4 > .m-grid__item { width: 1 / 4 * 100% };
	.m-grid--medium-3 > .m-grid__item { width: 1 / 3 * 100% };
	.m-grid--medium-2 > .m-grid__item { width: 1 / 2 * 100% };
	.m-grid--medium-1 > .m-grid__item { width: 1 / 1 * 100% };
}
@media only screen and (max-width: $bp-medium-small) {
	.m-grid--medium-small-6 > .m-grid__item { width: 1 / 6 * 100% };
	.m-grid--medium-small-5 > .m-grid__item { width: 1 / 5 * 100% };
	.m-grid--medium-small-4 > .m-grid__item { width: 1 / 4 * 100% };
	.m-grid--medium-small-3 > .m-grid__item { width: 1 / 3 * 100% };
	.m-grid--medium-small-2 > .m-grid__item { width: 1 / 2 * 100% };
	.m-grid--medium-small-1 > .m-grid__item { width: 1 / 1 * 100% };
}
@media only screen and (max-width: $bp-small) {
	.m-grid--small-6 > .m-grid__item { width: 1 / 6 * 100% };
	.m-grid--small-5 > .m-grid__item { width: 1 / 5 * 100% };
	.m-grid--small-4 > .m-grid__item { width: 1 / 4 * 100% };
	.m-grid--small-3 > .m-grid__item { width: 1 / 3 * 100% };
	.m-grid--small-2 > .m-grid__item { width: 1 / 2 * 100% };
	.m-grid--small-1 > .m-grid__item { width: 1 / 1 * 100% };
}

//---------------------------------------------------------
// Responsive Ratio
//---------------------------------------------------------
.m-ratio {
	position: relative;
	&:after {
		content: "";
		display: block;
	}
}
.m-ratio:after       { padding-top: 9/16 * 100%; } // default is 16:9 ratio
.m-ratio--20-9:after { padding-top: 9/20 * 100%; }
.m-ratio--12-1:after { padding-top: 1/12 * 100%; }
.m-ratio--5-6:after  { padding-top: 6/5  * 100%; }
.m-ratio--3-4:after  { padding-top: 4/3  * 100%; }
.m-ratio--4-1:after  { padding-top: 1/4  * 100%; }
.m-ratio--3-1:after  { padding-top: 1/3  * 100%; }
.m-ratio--2-3:after  { padding-top: 3/2  * 100%; }
.m-ratio--1-1:after  { padding-top: 1/1  * 100%; }
.m-ratio--2-1:after  { padding-top: 1/2  * 100%; }

.m-ratio__child {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}