//---------------------------------------------------------
//	Utilities
//	Utilities are (usually) one-line utilities to help things along without adding a lot of cruft
//
//	Basic terminology:
//	.u-PROPERTY-VALUE-
//
//	Utilities have the following sections separated by a dash (-):
//		1) Utilities start with ".u-"
//		2) 2nd section is the CSS property(s)
//			* Properties are usually abbreviated to one or 2 letters (ie, margin=m, margin-bottom=mb)
//			* Multiple properties (with equal values) for obvious pairs are combined into a single abbreviation (ie, margin-top & margin-bottom = mtb)
//		3) 3rd section is the property's value
//			* Class names with decimals: Replace the decimal with an underscore. (ex. 0.25 -> 0_25)
//			* All class names with numbers are default to ems
//			* Class names with "px" end in "px"
//			* Class names with "percentages" end in "p"
//			* Negative values written as "neg" (ex, -0.25% -> neg0_25p)
//			* Values of "none" are abbreviated with "n"
//		4) Optional: 4th section is the property's responsive value
//		5) Optional: Additional property-value pairs can be separated by underscores (_)
//
//		6) Optional: A single underscore (_) at the end applies to all of its ancestors
//		6b) Optional: A double underscore (__) at the end applies to itself AND all of its ancestors
//		7) Optional: "--bpxl"
//		7) Optional: "--i" at the very end corresponds to "!important"
//
//---------------------------------------------------------

//---------------------------------------------------------
// Color .u-c
//---------------------------------------------------------
// color white
.u-c-w { &,* { color: white } }

//------------------------------------------------------------------------------
// Cursor
//------------------------------------------------------------------------------
.u-cursor-pointer { cursor: pointer }
.u-cursor-default { cursor: default }

//------------------------------------------------------------------------------
// Text Align
//------------------------------------------------------------------------------
.u-ta-c { text-align: center }
.u-ta-l { text-align: left }
.u-ta-r { text-align: right }
@media screen and (max-width:$bp-small) {

}

//------------------------------------------------------------------------------
// Floats
//------------------------------------------------------------------------------
.u-f-r { float: right }
.u-f-l { float: left }
.u-c-b { clear: both }

//------------------------------------------------------------------------------
// Margins
//------------------------------------------------------------------------------
.u-m-0        { margin: 0 }
.u-m-a        { margin: auto }
.u-m-a--i     { margin: auto !important; }
.u-mlr-a      { margin-left: auto; margin-right: auto; }

.u-mb-0       { margin-bottom: 0 }
.u-mb-0_125   { margin-bottom: 0.125em }
.u-mb-0_25    { margin-bottom: 0.25em }
.u-mb-0_5     { margin-bottom: 0.5em }
.u-mb-0_75    { margin-bottom: 0.75em }
.u-mb-1       { margin-bottom: 1em }
.u-mb-1_5     { margin-bottom: 1.5em }
.u-mb-2       { margin-bottom: 2em }
.u-mb-3       { margin-bottom: 3em }
.u-mb-4       { margin-bottom: 4em }
.u-mb-6       { margin-bottom: 6em }
.u-mb-8       { margin-bottom: 8em }
.u-mb-neg12   { margin-bottom: -12em }
.u-mb-neg0_5  { margin-bottom: -0.5em }
.u-mb-neg5    { margin-bottom: -5em }

.u-mt-0       { margin-top: 0 }
.u-mt-0_5     { margin-top: 0.5em }
.u-mt-1       { margin-top: 1em }
.u-mt-1_5     { margin-top: 1.5em }
.u-mt-2       { margin-top: 2em }
.u-mt-3       { margin-top: 3em }
.u-mt-4       { margin-top: 4em }
.u-mt-6  	  { margin-top: 6em }
.u-mt-8       { margin-top: 8em }
.u-mt-10      { margin-top: 10em }
.u-mt-12      { margin-top: 12em }
.u-mt-neg1 	  { margin-top: -1em }
.u-mt-neg2    { margin-top: -2em }
.u-mt-neg4    { margin-top: -4em }
.u-mt-neg5    { margin-top: -5em }
.u-mt-neg8    { margin-top: -8em }
.u-mt-neg10   { margin-top: -10em}
.u-mt-neg15   { margin-top: -15em }
.u-mt-neg16   { margin-top: -16em }
.u-mr-0       { margin-right: 0 }
.u-ml-0       { margin-left: 0 }
.u-mr-0--i    { margin-right: 0 !important; } // !important because its specificity is so low
.u-ml-0--i    { margin-left: 0 !important; }  // !important because its specificity is so low
.u-mlr-0      { margin-left: 0; margin-right: 0 }
.u-mlr-0--i   { margin-left: 0 !important; margin-right: 0 !important }

.u-mtb-1      { margin-top: 1em; margin-bottom: 1em; }
.u-ml-4p 	  { margin-left: 4% }
.u-ml-neg2    { margin-left: -2em }
.u-ml-neg5 	  { margin-left: -5em }
.u-mr-2p 	  { margin-right: 2% }

//---------------------------------------------------------
// Responsive Margins
//---------------------------------------------------------
.u-mb-8-4         { @include responsive(margin-bottom, 8, 4); }
.u-mb-7-3_5       { @include responsive(margin-bottom, 7, 3.5); }
.u-mb-6-3         { @include responsive(margin-bottom, 6, 3); }
.u-mb-5-2_5       { @include responsive(margin-bottom, 5, 2.5); }
.u-mb-4-2         { @include responsive(margin-bottom, 4, 2); }
.u-mb-3-1_5       { @include responsive(margin-bottom, 3, 1.5); }
.u-mb-2-1         { @include responsive(margin-bottom, 2, 1); }
.u-mt-neg7-neg3_5 { @include responsive(margin-top, -7, -3.5); }

.u-kill-last-margin {
	> .p:last-child,
	> p:last-child,
	> ul:last-child {
		margin-bottom: 0;
	}
}
//------------------------------------------------------------------------------
// Borders
//------------------------------------------------------------------------------
.u-b-n    { border: none }
.u-bb-1px { border-bottom: 1px solid #cccccc }
.u-bl-1px { border-left: 1px solid #cccccc }
.u-bt-1px { border-top: 1px solid #cccccc }


//------------------------------------------------------------------------------
// Padding
//------------------------------------------------------------------------------
.u-p-0 	     { padding: 0 }
.u-plr-0--i  { padding-left: 0 !important; padding-right: 0 !important }
.u-p-1 	     { padding: 1em }

.u-pt-0      { padding-top: 0 }
.u-pt-1      { padding-top: 1em }
.u-pt-2      { padding-top: 2em }
.u-pt-6      { padding-top: 6em }

.u-pb-0      { padding-bottom: 0 }
.u-pb-1      { padding-bottom: 1em }
.u-pb-2      { padding-bottom: 2em }
.u-pb-3      { padding-bottom: 3em }
.u-pb-4      { padding-bottom: 4em }
.u-pb-5      { padding-bottom: 5em }
.u-pb-6      { padding-bottom: 6em }
.u-pb-8      { padding-bottom: 8em }
.u-pb-10     { padding-bottom: 10em }
.u-pb-16     { padding-bottom: 16em }
.u-pb-18     { padding-bottom: 18em }
.u-pb-20     { padding-bottom: 20em }
.u-pb-15p    { padding-bottom: 15% }

.u-pr-1      { padding-right: 1em }
.u-pl-1      { padding-left: 1em }
.u-pr-2      { padding-right: 2em }
.u-pl-2      { padding-left: 2em }
.u-pr-4      { padding-right: 4em }
.u-pl-4      { padding-left: 4em }

.u-pl-2_5p   { padding-left: 2.5% }

//---------------------------------------------------------
// Background
//---------------------------------------------------------
.u-bgs-c     { background-size: cover; }
.u-bgc-white { background-color: white; }

//---------------------------------------------------------
// Whitespace
//---------------------------------------------------------
.u-ws-nw { white-space: nowrap }

//------------------------------------------------------------------------------
// Width
//------------------------------------------------------------------------------
.u-w-25p  { width: 25% }
.u-w-30p  { width: 30% }
.u-w-40p  { width: 40% }
.u-w-50p  { width: 50% }
.u-w-60p  { width: 60% }
.u-w-70p  { width: 70% }
.u-w-75p  { width: 75% }
.u-w-80p  { width: 80% }
.u-w-100p { width: 100% }

.u-mw-100p  { max-width: 100%; height: auto; }
.u-mw-860px { max-width: 860px; @media only screen and (max-width: 860px) { max-width: 100%; }}
.u-mw-750px { max-width: 750px; @media only screen and (max-width: 750px) { max-width: 100%; }}
.u-mw-700px { max-width: 700px; @media only screen and (max-width: 700px) { max-width: 100%; }}
.u-mw-330px { max-width: 330px; }
.u-mw-85p   { max-width: 85%; }
.u-mw-75p   { max-width: 75%; }
.u-mw-50p 	{ max-width: 50%; }
.u-mw-35p   { max-width: 35%; }

//------------------------------------------------------------------------------
// Overflow
//------------------------------------------------------------------------------
.u-o-h   { overflow: hidden }
.u-o-v   { overflow: visible }

//------------------------------------------------------------------------------
// Positioning
//------------------------------------------------------------------------------
.u-pos-r  { position: relative }
.u-pos-a  { position: absolute }
.u-pos-s  { position: static }
.u-z-1    { z-index: 1 }
.u-z-neg1 { z-index: -1 }

//------------------------------------------------------------------------------
// Text Transform
//------------------------------------------------------------------------------
.u-tt-n         { text-transform: none }
.u-tt-uppercase { text-transform: uppercase }

//---------------------------------------------------------
// Display
//---------------------------------------------------------
.u-d-b       { display: block }
.u-d-n       { display: none }
.u-d-ib      { display: inline-block }
.u-d-ib_va-m { display: inline-block; vertical-align: middle }
.u-d-tc      { display: table-cell }
.u-d-t 	     { display: table }
.u-va-b      { vertical-align: bottom }

//---------------------------------------------------------
// Show & Hide
//---------------------------------------------------------
.u-d-b    { display: block }
.u-d-n    { display: none }
.u-d-n--i { display: none !important }

//---------------------------------------------------------
// Responsive Stuffs
//---------------------------------------------------------
// XL
.u-xl-show { display: none; }
.u-xl-hide { display: block; }
.u-xl-show--inline { display: none; }
.u-xl-hide--inline { display: inline; }
@media only screen and ( max-width: $bp-xl ) {
	.u-xl-show { display: block !important; }
	.u-xl-hide { display: none !important; }
	.u-xl-show--inline { display: inline !important; }
	.u-xl-hide--inline { display: none !important; }
}

// Large
.u-large-show { display: none; }
.u-large-hide { display: block; }
.u-large-show--inline { display: none; }
.u-large-hide--inline { display: inline; }
@media only screen and ( max-width: $bp-large ) {
	.u-large-show { display: block !important; }
	.u-large-hide { display: none !important; }
	.u-large-show--inline { display: inline !important; }
	.u-large-hide--inline { display: none !important; }
}

// Medium-Large
.u-medium-large-show { display: none; }
.u-medium-large-hide { display: block; }
.u-medium-large-show--inline { display: none; }
.u-medium-large-hide--inline { display: inline; }
@media only screen and ( max-width: $bp-medium-large ) {
	.u-medium-large-show { display: block !important; }
	.u-medium-large-hide { display: none !important; }
	.u-medium-large-show--inline { display: inline !important; }
	.u-medium-large-hide--inline { display: none !important; }
}

// Medium
.u-medium-show { display: none; }
.u-medium-hide { display: block; }
.u-medium-show--inline { display: none; }
.u-medium-hide--inline { display: inline; }
@media only screen and ( max-width: $bp-medium ) {
	.u-medium-show { display: block !important; }
	.u-medium-hide { display: none !important; }
	.u-medium-show--inline { display: inline !important; }
	.u-medium-hide--inline { display: none !important; }

	// other:
	.u-medium-mb-2 { margin-bottom: 2em }
}

// Medium-Small
.u-medium-small-show { display: none; }
.u-medium-small-hide { display: block; }
.u-medium-small-show--inline { display: none; }
.u-medium-small-hide--inline { display: inline; }
@media only screen and ( max-width: $bp-medium-small ) {
	.u-medium-small-show { display: block !important; }
	.u-medium-small-hide { display: none !important; }
	.u-medium-small-show--inline { display: inline !important; }
	.u-medium-small-hide--inline { display: none !important; }

	// other:
	.u-medium-small-p-0  { padding: 0 }
	.u-medium-small-ta-c { text-align: center }
	.u-medium-small-b-0  { border: none }
	.u-medium-small-mt-0 { margin-top: 0 }
	.u-medium-small-mb-0 { margin-bottom: 0}
	.u-medium-small-mb-1 { margin-bottom: 1em }
	.u-medium-small-mb-2 { margin-bottom: 2em }
	.u-medium-small-pb-6 { padding-bottom: 6em }
}

// Small
.u-small-show { display: none; }
.u-small-hide { display: block; }
.u-small-show--inline { display: none; }
.u-small-hide--inline { display: inline; }
@media only screen and ( max-width: $bp-small ) {
	.u-small-show { display: block !important; }
	.u-small-hide { display: none !important; }
	.u-small-show--inline { display: inline !important; }
	.u-small-hide--inline { display: none !important; }

	// other:
	.u-small-mt-0 { margin-top: 0 }
	.u-small-ta-c { text-align: center }
	.u-small-mt-0 { margin-top: 0 }
	.u-small-mb-0 { margin-bottom: 0}
	.u-small-mb-1 { margin-bottom: 1em }
	.u-small-mb-2 { margin-bottom: 2em }
}

.u-mw-630px {
	max-width:630px;
}

//---------------------------------------------------------
// VERTICALLY ALLIGNING (all types of ways! yay!)
//---------------------------------------------------------
//---------------------------------------------------------
// Flexbox
//---------------------------------------------------------
.u-flex-center {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.u-flex-vert-center {
	display: flex;
	align-items: center;
}
.u-flex-3 { flex: 3 }
.u-flex-4 { flex: 4 }


//---------------------------------------------------------
// Vertical Centered Utility (in match height)
//---------------------------------------------------------
.u-v-c, .u-v-b {
	display:table;
}
.u-v-c > * {
	display:table-cell;
	vertical-align:middle;
	float:none;
}
.u-v-b > * {
	display:table-cell;
	vertical-align:bottom;
	float:none;
}
//------------------------------------------------------------------------------
// Ghost Vertical Align
// Center vertically in container
//------------------------------------------------------------------------------
.u-ghost-align:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.u-ghost-align__item {
	margin-left: -4px;
	display: inline-block;
	vertical-align: middle;
}
//---------------------------------------------------------
// Relative Vertical aligning (on full sized box)
//---------------------------------------------------------
.u-v-c-rel {
	position: relative;
	height: 100%;
	width: 100%;
}
.u-v-c-rel > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

//---------------------------------------------------------
// Lists
//---------------------------------------------------------
.u-ls-n { &, li {list-style: none }}
