%ratio {
	--ratio-height: 1;
	--ratio-width: 1;
	--width: 100%;
	display: block;
	font-size: 0;
	overflow: hidden;
	position: relative;
	width: var(--width);

	&:before {
		content: '';
		display: block;
		padding-bottom: calc(var(--width) * (var(--ratio-height) / var(--ratio-width)));
		width: 100%;
	}

	> * {
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
