/// Animate a line underneath an element
/// @group Fabric Utility Placeholders
/// @access public
/// @require {function} SassCore::calc
/// @require {function} SassCore::scaleX
/// @require {function} transition

%has-animatedUnderline {
	padding-bottom: calc(1px + 0.1rem);
	position: relative;

	&:after {
		@include transition(opacity normal, transform normal);
		background: currentcolor;
		bottom: 0;
		content: '';
		display: block;
		height: 1px;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		transform: scaleX(0);
	}

	@include hover {
		text-decoration: none;

		&:after {
			opacity: 0.75;
			transform: scaleX(1);
		}
	}
}
