[class^='ShowOn--'],
[class*=' ShowOn--'] {
	display: none;
}

@each $_breakpoint in map-keys($breakpoints) {
  @include media(unquote('<#{$_breakpoint}')) {
    .HideOn--#{camelize($_breakpoint)} {
      display: none;
    }

    .ShowOn--#{camelize($_breakpoint)} {
      display: block;
    }
  }
}
