//-----------------------------------------------------------------------
// Code Block
//-----------------------------------------------------------------------
%code {
	@include color('dark-gray');
	@include font-size(14);
	background: get-color('lighter-gray');
	border: 1px solid get-color('light-gray');
	border-radius: 3px;
	font-family: monospace;
}
