h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $font-family--sans-serif;
	line-height: 1.1em;
}

h1,
h2,
.h1,
.h2 {
	@include color('default');
}

h3,
h4,
.h3,
.h4 {
	@include color('dark-gray');
}

h5,
h6,
.h5,
.h6 {
	@include color('gray');
}

ol,
ul {
	padding-left: 1.5rem;
}

pre,
code {
	@extend %code;
}

pre {
	max-width: 740px;
	overflow: auto;
	padding: 1em 0.5em;
	white-space: nowrap;
	
	strong {
		font-family: $font-family--sans-serif;
	}
	
	code {
		background: none;
		border: 0;
	}
}

code {
	padding: 0.05em 0.5em;
}

.highlight {
	@include color('accent');
}
