//-----------------------------------------------------------------------
// Typography
//-----------------------------------------------------------------------

$fontFamily:				'garamond-premier-pro', serif;
$fontFamily--sansSerif:		'Neue Haas Grotesk', Helvetica, Arial, sans-serif;
$fontFamily--serif:			'garamond-premier-pro', serif;
$lineHeight:				1.6;

$fontSize:					(
							'base':				22px,
							'h6':				18px,
							'h5':				22px,
							'h4':				26px,
							'h3':				30px,
							'h2':				34px,
							'h1':				38px
							);



//-----------------------------------------------------------------------
// Layout
//-----------------------------------------------------------------------

$siteWidth:					1080px;
$gridWidth:					12;

$lineBreak:					20px;
$gutterWidth:				20px;
							 
$breakpoints:				(
							'xxSmall':			320px,
							'xSmall':			480px,
							'small':			768px,
							'medium':			1024px,
							'large':			1200px,
							'xLarge':			1400px,
							'xxLarge':			1600px
							);
						 
$spacing:					(
							'xxSmall':			10px,
							'xSmall':			20px,
							'small':			30px,
							'medium':			45px,
							'large':			60px,
							'xLarge':			75px,
							'xxLarge':			90px
							);



//-----------------------------------------------------------------------
// Transitions
//-----------------------------------------------------------------------

$transitionSpeed:			(
							'xSlow':			0.8s,
							'slow':				0.6s,
							'normal':			0.4s,
							'fast':				0.2s,
							'xFast':			0.1s
							);



//-----------------------------------------------------------------------
// Colors
//-----------------------------------------------------------------------

$colors:					(
							'accentColor':		#fe5000,
							'fontColor':		#232323,
							
							'black':			#000,
							'darkerGray':		#232323,
							'darkGray':			#4a4a4a,
							'gray':				#9b9b9b,
							'lightGray':		#dedede,
							'lighterGray':		#fcfcfc,
							'white':			#fff
							);
