//---------------------------------------------------------
// Global Settings
//---------------------------------------------------------
hr {
	border: none;
	height: 1px;
	margin: 0;
	background-color: #cccccc;
}
html {
	background: whitesmoke;
	font-size: $default-font-size; // this is the base font of the site (and only place px should be used for fonts).
}
