//---------------------------------------------------------
// Header
//---------------------------------------------------------
.site-header__wrpr {
}
.site-header {
	height: $header-height;
	position: relative;
}
.logo__wrpr {
	position: absolute;
	bottom: 0;
	left: 0;
}
.logo {
	display: block;
}
.main-nav {
	position: absolute;
	bottom: 0;
	right: 0;
}
.main-nav__item {
	&:last-child {
		padding-right: 100;
	}
}