//---------------------------------------------------------
// Typography
//---------------------------------------------------------
$default-font-size: 16px;
$font-size: 16px;
$line-height: 1.5em;


//---------------------------------------------------------
// Layout
//---------------------------------------------------------
$breakpoints: (small: 480px,
				medium: 768px,
				large: 1024px,
				x-large: 1200px);
				
$site-width: 1100px;
$grid-width: 12;
$gutter-width: 30px;


//---------------------------------------------------------
// Colors
//---------------------------------------------------------
$color: #333333; // this is the default text color
$link-color: blue;