//---------------------------------------------------------
// Variables
//---------------------------------------------------------


//---------------------------------------------------------
// Breakpoints
//---------------------------------------------------------
$default-font-size: 16px;
$font-size: 16px;
$line-height: 1.5em;


//---------------------------------------------------------
// Breakpoints
//---------------------------------------------------------
$bp-xl: 1100px;
$bp-large: 1024px;        // ~ tablet
$bp-medium-large: 900px;  // ~ in-between tablet and full-tablet
$bp-medium: 767px;        // ~ highest possible phone
$bp-medium-small: 620px;  // ~ in-between phone and tablet
$bp-small: 480px;         // ~ phone

$breakpoints: 1100px, 1024px, 900px, 767px, 620px, 480px;


//---------------------------------------------------------
// Layout
//---------------------------------------------------------
$site-width: 1100px;
$grid-width: 12;
$gutter-width: 30px;

$site-width-max: 1300px; // deprecate?

$site-padding: 3%; // deprecate?
$span-padding: 2.5%; // deprecate?


//---------------------------------------------------------
// Header
//---------------------------------------------------------
$header-height: 100px; // non-standard per website, should not part of framework?


//---------------------------------------------------------
// Colors
//---------------------------------------------------------
$color: #333333; // this is the default text color
$link-color: blue;