.Wrap {
	@extend %Wrap !optional;
}

@each $name, $width in $wrap-width {

	.Wrap--#{camelize($name)} {
		@extend %Wrap !optional;
		@include responsive-property('max-width', $width);
		padding-left: _(map-get($wrap-padding, $name));
		padding-right: _(map-get($wrap-padding, $name));
		width: calc(100% - #{_(map-get($wrap-padding, $name)) * 2});
	}

}
