.Wrap {
	@extend %Wrap;
	padding-left: _($layout-padding);
	padding-right: _($layout-padding);
	width: calc(100% - #{_($layout-padding) * 2});
}

@each $name, $value in $wrap-width {

	.Wrap--#{camelize($name)} {
		padding-left: _(map-get($wrap-padding, $name));
		padding-right: _(map-get($wrap-padding, $name));
		width: calc(100% - #{_(map-get($wrap-padding, $name)) * 2});
	}

}
