//----------------------------------------------------------------------
//
// Buttons
//
//----------------------------------------------------------------------

$buttons-border-width: 2px                                     !default;
$buttons-height: 5x                                            !default;
$buttons-padding: 3x                                           !default;
$buttons-radius: 3px                                           !default;

$buttons-background-color: 'accent'                            !default;
$buttons-border-color: transparent                             !default;
$buttons-text-color: 'white'                                   !default;

$buttons-hover-background-color: 'accent'                      !default;
$buttons-hover-border-color: transparent                       !default;
$buttons-hover-text-color: 'white'                             !default;
