////
/// Grid
/// @name Grid Variables
/// @group Fabric Variables

/// @access public
////

/// @name grid-columns
$grid-columns: 12                                              !default;

/// @name grid-breakpoints
$grid-breakpoints: (

	'normal': ('small', 'medium', 'large')

)                                                              !default;

/// @name grid-gaps
$grid-gaps: (

	'small':  2x,
	'normal': 3x,
	'large':  4x

)                                                              !default;
