//----------------------------------------------------------------------
//
// Layout
//
//----------------------------------------------------------------------

$layout-padding: 3x                                            !default;
$layout-spacing: 8px                                           !default;
$layout-width: 1080px                                          !default;
