//-----------------------------------------------------------------------
// Placeholder
//-----------------------------------------------------------------------
%u-button {
	@include padding(x-small small);
	@include transition(normal background, normal border, normal color, normal opacity);
	background: get-color('accent-color');
	border: 0;
	color: get-color('white');
	display: inline-block;
	font-family: $font-family;
	text-align: center;
	
	&:focus {
		outline: none;
	}
	
	&:active, 
	&:hover {
		background: lighten(get-color('accent-color'), 10%);
		color: get-color('white');
		text-decoration: none;
	}
	
	&[disabled] {
		cursor: default;
		opacity: 0.5;
		
		&:hover {
			background: get-color('accent-color');
		}
	}
}



//-----------------------------------------------------------------------
// Classes
//-----------------------------------------------------------------------
.u-button, 
[class^=u-button--], 
[class*= u-button--] {
	@extend %u-button;
}
