/// Sets font weight responsively
/// @name font-weight
/// @group Fabric Mixins
/// @access public
/// @param {string} $_value [] - Set the font weight
/// @param {string} $_size [''] -
/// @require {function} SassCore::type-of
/// @require {function} SassCore::index
/// @require {function} SassCore::map-keys
/// @require {function} get-font-weight
/// @require {function} responsive-property

@mixin font-weight($_value, $_size: '') {

	@if type-of($_value) == string and index(map-keys($font-weight), $_value) {

		$_font-weight: get-font-weight($_value, $_size);

		@if type-of($_font-weight) == 'map' {

			$first: true;
			@include responsive-property('font-weight', $_font-weight);

		} @else {

			font-weight: $_font-weight;

		}

	}

}
