/// Sets font size responsively
/// @name font-size
/// @group Fabric Mixins
/// @author Cody Baker
/// @access private
/// @param {string} $_value [] - Set the font size type
/// @param {string} $_size [''] -
/// @require {function} SassCore::type-of
/// @require {function} SassCore::index
/// @require {function} SassCore::map-keys

@mixin font-size($_value, $_size: '') {

	@if type-of($_value) == string and index(map-keys($font-size), $_value) {

		$_font-size: get-font-size($_value, $_size);

		@if type-of($_font-size) == 'map' {

			$first: true;
			@include responsive-property('font-size', $_font-size);

		} @else {

			font-size: $_font-size;

		}

	}

}
