/// Sets letter spacing responsively
/// @name letter-spacing
/// @group Fabric Mixins
/// @author Cody Baker
/// @access public
/// @param {string} $_value [] - Set the letter spacing type
/// @param {string} $_size [''] -
/// @require {function} SassCore::type-of
/// @require {function} SassCore::index
/// @require {function} SassCore::map-keys
/// @require {function} get-letter-spacing
/// @require {function} responsive-property

@mixin letter-spacing($_value, $_size: '') {

	@if type-of($_value) == string and index(map-keys($letter-spacing), $_value) {

		$_letter-spacing: get-letter-spacing($_value, $_size);

		@if type-of($_letter-spacing) == 'map' {

			$first: true;
			@include responsive-property('letter-spacing', $_letter-spacing);

		} @else {

			letter-spacing: $_letter-spacing;

		}

	}

}
