/// Sets margins relative to $layout-spacing
/// @name margin
/// @group Fabric Mixins
/// @access public
/// @param {string} $_margins [3x auto] - Set the margin amount
/// @param {map} $_breakpoint [''] - Set the color stop values
/// @require {mixin} SassCore::append
/// @require {mixin} media
/// @require {function} x-to-px

@mixin margin($_margins: 3x auto, $_breakpoint: '') {

	$_result: ();

	@each $_margin in $_margins {

		$_result: append($_result, x-to-px($_margin));

	}

	@if $_breakpoint != '' {

		@include media($_breakpoint) {

			margin: $_result;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

		}

	} @else {

		margin: $_result;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

}
