//---------------------------------------------------------------
// Sets paddings relative to $layout-spacing
//---------------------------------------------------------------

@mixin padding($padding: 3x auto, $breakpoint: '') {

	$padding: parse-spacing($padding);
	$padding: to-list($padding);
	$padding: x-to-px($padding);

	@if $breakpoint != '' {

		@if str-index($breakpoint, '<') == null {

			$breakpoint: '<#{$breakpoint}';

		}

		@include media($breakpoint) {

			padding: $padding;

		}

	} @else {

		padding: $padding;

	}

}
