/// Sets paddings relative to $layout-spacing
/// @name padding
/// @group Fabric Mixins

/// @access public
/// @param {string} $_paddings [3x auto] -
/// @param {string} $_breakpoint [''] -
/// @requires {function} SassCore::append
/// @requires {function} x-to-px
/// @requires {mixin} media

@mixin padding($_paddings: 3x auto, $_breakpoint: '') {

	$_result: ();

	@each $_padding in $_paddings {

		$_result: append($_result, x-to-px($_padding));

	}

	@if $_breakpoint != '' {

		@include media($_breakpoint) {

			padding: $_result;

		}

	} @else {

		padding: $_result;

	}

}
