/// Sets responsive ratio on an object
/// @name responsive-ratio
/// @group Fabric Mixins

/// @access public
/// @param {string} $_ratio [] - Set the property you want to be responsive
/// @require {function} SassCore::nth
/// @require {function} SassCore::explode
/// @require {function} SassCore::inspect
/// @require {function} number

@mixin responsive-ratio($_ratio) {

	$_first: number(nth(explode(inspect($_ratio), 'x'), 1));
	$_last: number(nth(explode(inspect($_ratio), 'x'), 2));

	&:before {
		padding-bottom: 100% * $_last / $_first;
	}

}
