/// Sets margins based on the responsive key:value pairs defined in a map
/// @name responsive-margin
/// @group Fabric Mixins
/// @access public
/// @param {string} $_values [] - Set margin values
/// @require {function} SassCore::map-keys
/// @require {function} SassCore::get-keys
/// @require {function} SassCore::str-index
/// @require {mixin} margin
/// @require {mixin} media

@mixin responsive-margin($_values) {

	$_first: true;

	@each $_breakpoint in map-keys($_values) {

		$_value: map-get($_values, $_breakpoint);

		@if $_first {

			@include margin($_value);
			$_first: false;

		} @else {

			@if str-index($_breakpoint, '<') == null {

				$_breakpoint: '<#{$_breakpoint}';

			}

			@include media('#{$_breakpoint}') {

				@include margin($_value);

			}

		}

	}

}
