/// Sets transition based on defaults
/// @name transition
/// @group Fabric Mixins
/// @access public
/// @param {properties} $_properties [] - This sets which transition functions you want to use
/// @require {function} SassCore::length
/// @require {function} SassCore::type-of
/// @require {function} SassCore::nth
/// @require {function} SassCore::index
/// @require {function} SassCore::map-keys
/// @require {function} SassCore::get-keys
/// @require {function} explode
/// @require {function} SassCore::append
/// @require {function} SassCore::unquote
/// @require {function} SassCore::inspect

@mixin transition($_properties...) {

	$_result: ();

	@if length($_properties) == 0 {
		$_properties: (
			'normal all'
		);
	}

	@for $i from 1 through length($_properties) {

		$_property: nth($_properties, $i);
		$_subResult: ();

		@if type-of($_property) == string {
			$_property: explode($_property, ' ');
		}

		@each $_sub-property in $_property {

			@if type-of($_sub-property) == string and index(map-keys($transitions-speed), $_sub-property) {

				$_subResult: append($_subResult, map-get($transitions-speed, $_sub-property));

			} @else {

				$_subResult: append($_subResult, unquote(inspect($_sub-property)));

			}

		}

		$_result: append($_result, $_subResult, comma);
	}

	transition: $_result;

}
