/// Make a triangle
/// @name triangle
/// @group Fabric Mixins

/// @access public
/// @param {string} $_position [top] - Set the position of the triangle
/// @param {string} $_color [currentcolor] - Set the color of the triangle
/// @param {string} $_size [2x] - Set the size of the triangle
/// @param {string} $_scale [1] - Set the scale of the triangle
/// @require {function} validate-position
/// @require {function} opposite-position
/// @require {function} get-color

@mixin triangle($_position: top, $_color: currentcolor, $_size: 2x, $_scale: 1) {

	$_position: validate-position($_position);
	$_opposite: opposite-position($_position);
	$_color: get-color($_color);
	$_size: _($_size) / 2;

	@if $_position == top or $_position == bottom {
		border-left: $_size solid transparent;
		border-right: $_size solid transparent;
	} @else {
		border-bottom: $_size solid transparent;
		border-top: $_size solid transparent;
	}

	border-#{$_opposite}: ($_size * $_scale) solid $_color;
	content: '';
	display: block;
	height: 0;
	width: 0;

}
