html {
	@include color(default);
	@include font(base);
	font-family: $font-family;
}

h1,
.h1 {
	@extend %h1 !optional;
}

h2,
.h2 {
	@extend %h2 !optional;
}

h3,
.h3 {
	@extend %h3 !optional;
}

h4,
.h4 {
	@extend %h4 !optional;
}

h5,
.h5 {
	@extend %h5 !optional;
}

h6,
.h6 {
	@extend %h6 !optional;
}

p {
	@extend %p !optional;
}

ul,
ol,
blockquote,
table,
address,
form,
pre {
	@include margin(2x 0);
}

ol,
ul {
	@include padding(0 0 0 2x);
}

a {
	@include color(accent);
	@include transition(normal color);
	text-decoration: none;

	@include hover {
		@if index(map-keys($colors), 'accent-hover') {
			@include color(accent-hover);
		} @else {
			color: lighten(get-color(accent, 1, true), 10%);
		}

		text-decoration: underline;
	}
}

article {
	@include margin(4x 0);
}

strong {
	font-weight: bold;
}

pre {
	display: block;
	white-space: pre-wrap;
}

code {
	display: inline-block;
	white-space: pre;
}

blockquote {
	@include padding(0 0 0 2x);
}

img {
	max-width: 100%;
}
