%d-block {
	display: block !important;
}

%d-flex {
	display: flex !important;
}

%d-grid {
	display: grid !important;
	gap: var(--grid-gap);
}

%d-inline {
	display: inline !important;
}

%d-none {
	display: none !important;
}

@each $breakpoint in map-keys($breakpoints) {
	@include media('<#{$breakpoint}') {
		%d-block--#{camelize($breakpoint)} {
			display: block !important;
		}

		%d-flex--#{camelize($breakpoint)} {
			display: flex !important;
		}

		%d-grid--#{camelize($breakpoint)} {
			display: grid !important;
			gap: var(--grid-gap);
		}

		%d-inline--#{camelize($breakpoint)} {
			display: inline !important;
		}

		%d-none--#{camelize($breakpoint)} {
			display: none !important;
		}
	}
}
