%flex-column {
	flex-direction: column;
}

%flex-row {
	flex-direction: row;
}

@each $breakpoint in map-keys($breakpoints) {
	@include media('<#{$breakpoint}') {
		%flex-column--#{camelize($breakpoint)} {
			flex-direction: column;
		}

		%flex-row--#{camelize($breakpoint)} {
			flex-direction: row;
		}
	}
}

%flex-center {
	align-items: center;
}

%flex-start {
	align-items: flex-start;
}

%flex-end {
	align-items: flex-end;
}

%flex-stretch {
	align-items: stretch;
}

%justify-center {
	justify-content: center;
}

%justify-start {
	justify-content: flex-start;
}

%justify-end {
	justify-content: flex-end;
}

%justify-around {
	justify-content: space-around;
}

%justify-between {
	justify-content: space-between;
}

%justify-evenly {
	justify-content: space-evenly;
}
