@each $key, $value in $spacing {
	%mb-#{camelize($key)} {
		margin-bottom: _($value) !important;
	}

	%ml-#{camelize($key)} {
		margin-left: _($value) !important;
	}

	%mr-#{camelize($key)} {
		margin-right: _($value) !important;
	}

	%mt-#{camelize($key)} {
		margin-top: _($value) !important;
	}
}

%mb-auto {
	margin-bottom: auto !important;
}

%ml-auto {
	margin-left: auto !important;
}

%mr-auto {
	margin-right: auto !important;
}

%mt-auto {
	margin-top: auto !important;
}

%mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

%my-auto {
	margin-bottom: auto !important;
	margin-top: auto !important;
}

@each $breakpoint in map-keys($breakpoints) {
	@include media('<#{$breakpoint}') {
		@each $key, $value in $spacing {
			%mb-#{camelize($key)}--#{camelize($breakpoint)} {
				margin-bottom: _($value) !important;
			}

			%ml-#{camelize($key)}--#{camelize($breakpoint)} {
				margin-left: _($value) !important;
			}

			%mr-#{camelize($key)}--#{camelize($breakpoint)} {
				margin-right: _($value) !important;
			}

			%mt-#{camelize($key)}--#{camelize($breakpoint)} {
				margin-top: _($value) !important;
			}
		}

		%mb-auto--#{camelize($breakpoint)} {
			margin-bottom: auto !important;
		}

		%ml-auto--#{camelize($breakpoint)} {
			margin-left: auto !important;
		}

		%mr-auto--#{camelize($breakpoint)} {
			margin-right: auto !important;
		}

		%mt-auto--#{camelize($breakpoint)} {
			margin-top: auto !important;
		}

		%mx-auto--#{camelize($breakpoint)} {
			margin-left: auto !important;
			margin-right: auto !important;
		}

		%my-auto--#{camelize($breakpoint)} {
			margin-bottom: auto !important;
			margin-top: auto !important;
		}
	}
}
