%text-center {
	text-align: center;
}

%text-left {
	text-align: left;
}

%text-right {
	text-align: right;
}

@each $breakpoint in map-keys($breakpoints) {
	@include media('<#{$breakpoint}') {
		%text-center--#{camelize($breakpoint)} {
			text-align: center;
		}

		%text-left--#{camelize($breakpoint)} {
			text-align: left;
		}

		%text-right--#{camelize($breakpoint)} {
			text-align: right;
		}
	}
}
