.button {
	display: inline-block;
	@include proxima-nova-medium;
	text-transform: uppercase;

	@include responsive(font-size, 1, 0.75);
	@include responsive(padding-top, 1.125, 0.75);
	@include responsive(padding-bottom, 1.125, 0.75);
	@include responsive(padding-left, 3.5, 1.5);
	@include responsive(padding-right, 3.5, 1.5);
}
.button--orange {
	color: white;
	background: $orange;
	transition: 0.15s;
	&:hover {
		background: darken($orange, 5%);
	}
}
.button--transparent {
	border: 1px solid white;
	color: white;
}