.inner-section {
	@include responsive(padding-top, 2.5, 1);
	@include responsive(padding-bottom, 2.5, 1);
	@include responsive(padding-left, 3, 1);
	@include responsive(padding-right, 3, 1);
}
.u-triangle-before {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 1em;
		border-left: 0.6em solid #ed5b2f;
		border-top: 0.45em solid transparent;
		border-bottom: 0.45em solid transparent;
		transition: transform 0.2s;
	}
	&.active:before {
		transform: rotate(90deg);
	}
}

.u-play-overlay {
	display: block;
	position: relative;
	&:after {

	}
}

.u-angle-quote-after {
	&:after {
		content: "›";
		color: $orange;
		padding-left: 0.3em;
	}
}

.Videos {
	display: flex;
	margin-left: -1%;
}
.Videos_item {
	margin-left: 1%;
	flex-grow: 1;
	img {
		width: 100%;
	}
}
@media only screen and (max-width: $bp-medium-small) {
	.Videos,
	.Videos_item {
		margin: 0;
	}
	.Videos {
		flex-wrap: wrap;
	}
	.Videos_item {
		display: flex;
		justify-content: center;
		max-width: 320px;
		margin: 0 auto;
	}
}

.Why {
	display: flex;
}
.Why_img,
.Why_cpy {
	@extend .inner-section;
}
.Why_img {
	padding-right: 0;
	width: 40%;
	max-width: 360px;
}
.Why_cpy {
	width: 60%;
}
@media only screen and (max-width: $bp-medium-small) {
	.Why {
		display: block;
	}
	.Why_img,
	.Why_cpy {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding: 2em 1em 0;
	}
	.Why_cpy {
		padding-bottom: 2em;
	}
}

.Checker {
	display: flex;
}
.Checker_cpy,
.Checker_mta {
	width: 50%;
}
.Checker_cpy {
	background-color: white;
	@include responsive(padding-top, 2.5, 1);
	@include responsive(padding-bottom, 2.5, 1);
	@include responsive(padding-left, 3, 1);
	@include responsive(padding-right, 3, 1);
}
.Checker_mta {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center center;
}
.Checker--start-right {
	flex-direction: row-reverse;
}
.Checker--venue_mta {
	background-image: url(/media/bg-aria-blue--pool.jpg);
}
.Checker--sponsors_mta {
	background-image: url(/media/bg-oktane-orange.jpg);
	flex-direction: column;
	background-position: right center;
}
.inner-section--sponsors {
	background-color: white;
	text-align: center;
}
@media only screen and (max-width: $bp-medium-small) {
	.Checker {
		flex-direction: column;
		background-size: cover;
		padding-bottom: 2em;
		position: relative;
		z-index: 1;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			background-color: rgba(#333,0.7);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
	.Checker_cpy,
	.Checker_mta {
		width: 100%;
		background: none;
	}
	.Checker_cpy {
		&, h2, h3 {
			color: white;
		}
	}
	.Checker--venue {
		background-image: url(/media/bg-aria-blue--pool.jpg);
	}
	.Checker--sponsors {
		background-image: url(/media/bg-oktane-orange.jpg);
		background-position: right center;
	}
}