.slider--big-nav {
	.owl-prev,
	.owl-next {
		// @extend .ts-1b;
		position: absolute;
		top: 50%;
		color: white;
		transform: translateY(-50%);
	}
	.owl-prev {
		left: 2%;
		transform: translateY(-50%) scale(-1,1);
	}
	.owl-next {
		right: 2%;
	}
	&.slider--big-nav--blue {
		.owl-prev,
		.owl-next {
			path {
				fill: $blue;
			}
		}
	}
}