@mixin proxima-nova-thin {
	font-family: "proxima-nova", sans-serif;
	font-weight: 100;
	font-style: normal;
}
@mixin proxima-nova-light {
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	font-style: normal;
}
@mixin proxima-nova {
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-style: normal;
}
@mixin proxima-nova-medium {
	font-family: "proxima-nova", sans-serif;
	font-weight: 600;
	font-style: normal;
}
@mixin proxima-nova-bold {
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	font-style: normal;
}
html {
	font-size: $default-font-size; // this is the base font of the site (and only place px should be used for fonts).
	@include proxima-nova;
	color: #666666;
}


//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------
h1,h2,h3,h4,h5,h6,p,ul,ol,li {
	font-weight: normal;
	margin: 0 0 1em;
}

//------------------------------------------------------------------------------
// Typography Styles
//------------------------------------------------------------------------------
%typography-style-reset {
	letter-spacing: -0.5px;
	text-transform: none;
	line-height: 1.3;
	margin-bottom: 1em;
	// font-weight: normal;
	// font-style: normal;
}
h1, h2 {
	@include proxima-nova-light;
}
h1 {
	@include responsive(font-size, 5.5, 2);
	margin-bottom: 0;
}
h2 {
	@include responsive(font-size, 3, 1.75);
	margin-bottom: 0.65em;
	color: #333333;
}
h3 {
	@include proxima-nova-medium;
	@include responsive(font-size, 1.5, 1);
	color: #333333;
}
h4 {
	@include proxima-nova-bold();
	@include responsive(font-size, 1.25, 1);
	margin-bottom: 0.25em;
	color: #333333;

}
p, li {
	@include responsive(font-size, 1.25, 1);
	@include responsive(line-height, 1.6, 1.5, '');
}
a {
	text-decoration: none;
	color: inherit;
}
strong {
	font-weight: normal;
	@include proxima-nova-medium();
}
h1 + .subhead {
	@include responsive(font-size, 1.5, 1.125);
	margin-bottom: 3em;
}

h2 + .subhead {
	@include responsive(font-size, 1.5, 1.125);
	// margin-bottom: 3em;
}

.c-w { // color white
	* {
		color: white;
	}
}