/// @group Fabric Base Placeholders
/// @access public

%h {
	@include margin(0 0 3x);
	font-family: var(--font-family-heading);
	font-weight: inherit;

	a,
	a:active,
	a:hover {
		color: inherit;
	}
}
