@use 'sass:list';
@use 'sass:math';

/// @group Fabric Base Placeholders
/// @access public

%root {
	@each $name, $breakpoint in $breakpoints {
		--breakpoint-#{$name}: #{$breakpoint};
	}

	--layout-padding: #{_($layout-padding)};
	--layout-width: #{_($layout-width)};

	@each $name, $shadows in $drop-shadows-elevations {
		$alpha: $drop-shadows-alpha;

		@if type-of($alpha) == 'map' {
			$alpha: #{map-get($alpha, $name)};
		}

		$first: true;

		@each $color in $drop-shadows-color {
			$box-shadow: ();
			$rgba-color: rgba(var(--color-#{$color}-rgb), $alpha);

			@each $shadow in $shadows {
				$box-shadow: append($box-shadow, unquote('#{$rgba-color} #{$shadow}'), 'comma');
			}

			@if $first {
				--box-shadow-#{$name}: #{$box-shadow};
				$first: false;
			}

			--box-shadow-#{$name}-#{$color}: #{$box-shadow};
		}
	}

	@each $name, $hex in $colors {
		--color-#{$name}: #{$hex};
		--color-#{$name}-rgb: #{red($hex)}, #{green($hex)}, #{blue($hex)};
	}

	--font-family: #{$font-family};
	--font-family-secondary: #{$font-family--secondary};
	--font-family-monospace: #{$font-family--monospace};
	--font-family-sans-serif: #{$font-family--sans-serif};
	--font-family-serif: #{$font-family--serif};

	@each $name, $value in $font-size {
		@include responsive-property('--font-size-#{$name}', $value);
	}

	@each $name, $value in $font-weight {
		@include responsive-property('--font-weight-#{$name}', $value);
	}

	@each $name, $value in $letter-spacing {
		@include responsive-property('--letter-spacing-#{$name}', $value);
	}

	@each $name, $value in $line-height {
		@if type-of($value) == 'map' {
			@include responsive-property('--line-height-#{$name}', $value);
		} @else {
			$font-size: get-font-size($name);

			@if type-of($font-size) == 'map' {
				$font-size: get-font-size($name, nth(map-keys($font-size), 1));
			}

			--line-height-#{$name}: #{math.div(remove-unit($value), remove-unit($font-size))};
		}
	}

	@each $name, $value in $grid-gaps {
		@if $name == 'normal' {
			@include responsive-property('--gap', $value);
		}
		@include responsive-property('--gap-#{$name}', $value);
	}

	$excluded-spacing: (
		'0',
		'none',
	);

	@each $name, $value in $spacing {
		@if not list.index($excluded-spacing, $name) {
			@include responsive-property('--spacing-#{$name}', $value);
		}
	}

	@for $i from 1 through $layout-spacing-max-units {
		@include responsive-property('--#{$i}x', _(#{$i}x));
	}
}
