//---------------------------------------------------------------
// Shorthand to get color
//---------------------------------------------------------------

@function get-color($_color, $_alpha: 1) {

	$_color: string($_color);

	@if type-of($_color) == 'string' and index(map-keys($colors), $_color) {

		@if $colors-use-variables {
			$_color: var(--color-#{$_color});
		} @else {
			$_color: map-get($colors, $_color);
		}

	}

	@if $_alpha < 1 {
		$_color: rgba($_color, $_alpha)
	}

	@return $_color;

}
