/// Reverse the order of a map
/// @name  map-reverse
/// @group Fabric Functions
/// @param {map} $_map [] - Set the map you want to reverse
/// @require {function} SassCore::type-of
/// @require {function} SassCore::map-keys
/// @require {function} SassCore::length
/// @require {function} SassCore::map-merge
/// @require {function} SassCore::map-get
/// @require {function} SassCore::nth
/// @return {map}

@function map-reverse($_map) {

	$_result: null;

	@if type-of($_map) == 'map' {
		$keys: map-keys($_map);
		$_map-reversed: ();

		@for $i from length($keys) through 1 {
			$_map-reversed: map-merge(
				$_map-reversed,
				(nth($keys, $i): map-get($_map, nth($keys, $i)))
			);
		}

		@if type-of($_map-reversed) == 'map' {
			$_result: $_map-reversed;
		} @else {
			@warn 'There was an error reversing the order of '#{$_map}'';
		}
	} @else {
		@warn ''#{$_map}' is not a valid map';
	}

	@return $_result;

}
