//---------------------------------------------------------
// Typography
//---------------------------------------------------------
$font-size: 16px;
$line-height: 1.5em;


//---------------------------------------------------------
// Layout
//---------------------------------------------------------
$breakpoints: (x-small: 480px,
				small: 768px,
				medium: 1024px,
				large: 1200px);
				
$site-width: 1100px;
$grid-width: 12;
$gutter-width: 30px;


//---------------------------------------------------------
// Colors
//---------------------------------------------------------
$font-color: #000000;
$accent-color: orange;