%Wrap {
	--wrap-padding: var(--layout-padding);
	--wrap-width: var(--layout-width);
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--wrap-padding);
	padding-right: var(--wrap-padding);
	max-width: var(--wrap-width);
	position: relative;
	width: calc(100% - (var(--wrap-padding) * 2));
}
