%Wrap {
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--layout-padding);
	padding-right: var(--layout-padding);
	max-width: var(--layout-width);
	position: relative;
	width: calc(100% - (var(--layout-padding) * 2));
}
