.align-center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.align-left {
	margin-right: auto !important;
}

.align-right {
	margin-left: auto !important;
}

.align-full {
	flex-shrink: 0;
	max-width: none;
	width: 100%;
}
