.alignItems-start {
	align-items: flex-start;
}

.alignItems-center {
	align-items: center;
}

.alignItems-end {
	align-items: flex-end;
}

.alignItems-stretch {
	align-items: stretch;
}

@each $breakpoint in map.keys($breakpoints) {
	@include media('<#{$breakpoint}') {
		.alignItems-start--#{camelize($breakpoint)} {
			align-items: flex-start;
		}

		.alignItems-center--#{camelize($breakpoint)} {
			align-items: center;
		}

		.alignItems-end--#{camelize($breakpoint)} {
			align-items: flex-end;
		}

		.alignItems-stretch--#{camelize($breakpoint)} {
			align-items: stretch;
		}
	}
}
