@use 'sass:list';
@use 'sass:map';

$excluded-font-sizes: (
	'base',
	'button',
);

@each $font-size in map.keys($font-size) {
	@if not list.index($excluded-font-sizes, $font-size) {
		.font-#{camelize($font-size)} {
			@include font($font-size, true);
			font-size: var(--font-size);
			font-weight: var(--font-weight);
			font-variation-settings: 'wght' var(--font-weight);
			letter-spacing: var(--letter-spacing);
			line-height: var(--line-height);
			text-transform: var(--text-transform);
		}
	}
}

@each $breakpoint in map.keys($breakpoints) {
	@include media('<#{$breakpoint}') {
		@each $font-size in map.keys($font-size) {
			@if not list.index($excluded-font-sizes, $font-size) {
				.font-#{camelize($font-size)}--#{camelize($breakpoint)} {
					@include font($font-size, true);
					font-size: var(--font-size);
					font-weight: var(--font-weight);
					font-variation-settings: 'wght' var(--font-weight);
					letter-spacing: var(--letter-spacing);
					line-height: var(--line-height);
					text-transform: var(--text-transform);
				}
			}
		}
	}
}

@each $font-family in map.keys($font-family) {
	@if $font-family == 'default' {
		.font-#{camelize($font-family)} {
			font-family: var(--font-family);
		}
	} @else {
		.font-#{camelize($font-family)} {
			font-family: var(--font-family-#{$font-family});
		}
	}
}
