@use "sass:map";

[class^="pb-"],
[class*=" pb-"] {
	padding-bottom: var(--pb) !important;
}

[class^="pl-"],
[class*=" pl-"] {
	padding-left: var(--pl) !important;
}

[class^="pr-"],
[class*=" pr-"] {
	padding-right: var(--pr) !important;
}

[class^="pt-"],
[class*=" pt-"] {
	padding-top: var(--pt) !important;
}

[class^="px-"],
[class*=" px-"] {
	padding-left: var(--px) !important;
	padding-right: var(--px) !important;
}

[class^="py-"],
[class*=" py-"] {
	padding-bottom: var(--py) !important;
	padding-top: var(--py) !important;
}

@each $key, $value in $spacing {
	.pb-#{camelize($key)} {
		@include responsive-property("--pb", $value);
	}

	.pl-#{camelize($key)} {
		@include responsive-property("--pl", $value);
	}

	.pr-#{camelize($key)} {
		@include responsive-property("--pr", $value);
	}

	.pt-#{camelize($key)} {
		@include responsive-property("--pt", $value);
	}

	.px-#{camelize($key)} {
		@include responsive-property("--px", $value);
	}

	.py-#{camelize($key)} {
		@include responsive-property("--py", $value);
	}
}

@each $breakpoint in map-keys($breakpoints) {
	@include media("<#{$breakpoint}") {
		@each $key, $value in $spacing {
			.pb-#{camelize($key)}--#{camelize($breakpoint)} {
				@if type-of($value) == "map" {
					@include responsive-property("--pb", nth(map.values($value), 1));
				} @else {
					--pb: #{x-to-px($value)};
				}

			}

			.pl-#{camelize($key)}--#{camelize($breakpoint)} {
				@if type-of($value) == "map" {
					@include responsive-property("--pl", nth(map.values($value), 1));
				} @else {
					--pl: #{x-to-px($value)};
				}
			}

			.pr-#{camelize($key)}--#{camelize($breakpoint)} {
				@if type-of($value) == "map" {
					@include responsive-property("--pr", nth(map.values($value), 1));
				} @else {
					--pr: #{x-to-px($value)};
				}
			}

			.pt-#{camelize($key)}--#{camelize($breakpoint)} {
				@if type-of($value) == "map" {
					@include responsive-property("--pt", nth(map.values($value), 1));
				} @else {
					--pt: #{x-to-px($value)};
				}
			}

			.px-#{camelize($key)}--#{camelize($breakpoint)} {
				@if type-of($value) == "map" {
					@include responsive-property("--px", nth(map.values($value), 1));
				} @else {
					--px: #{x-to-px($value)};
				}
			}

			.py-#{camelize($key)}--#{camelize($breakpoint)} {
				@if type-of($value) == "map" {
					@include responsive-property("--py", nth(map.values($value), 1));
				} @else {
					--py: #{x-to-px($value)};
				}
			}
		}
	}
}
