////
/// @group Fabric Components
/// @access public
////

/// @name .Wrap
.Wrap {
	@extend %Wrap !optional;
}

// @todo Keith Not sure how to annotate this one
@each $name, $width in $wrap-width {

	.Wrap--#{camelize($name)} {
		@extend %Wrap !optional;
		max-width: var(--wrap-width-#{$name});
		padding-left: var(--wrap-padding-#{$name});
		padding-right: var(--wrap-padding-#{$name});
		width: calc(100% - (var(--wrap-padding-#{$name}) * 2));
	}

}
