/// Automatically clear its child elements when used.
/// @name Clearfix
/// @group Fabric
/// @author Cody Baker

%Clearfix {
	zoom: 1;

	&:after {
		clear: both;
		content: '';
		display: table;
	}
}
