////
/// @group Fabric Component Placeholders
/// @access public
////

/// @name ResponsiveRatio
%ResponsiveRatio {
	display: block;
	font-size: 0;
	position: relative;
	width: 100%;

	&:before {
		content: '';
		display: inline-block;
		margin-left: -1px;
		padding-bottom: 100%;
		vertical-align: middle;
		width: 1px;
	}

	> :only-child {
		display: block;
		font-size: 1rem;
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

/// @name ResponsiveRatio--1x2
%ResponsiveRatio--1x2 {
	@include responsive-ratio(1x2);
}

/// @name ResponsiveRatio--2x1
%ResponsiveRatio--2x1 {
	@include responsive-ratio(2x1);
}

/// @name ResponsiveRatio--2x3
%ResponsiveRatio--2x3 {
	@include responsive-ratio(2x3);
}

/// @name ResponsiveRatio--3x1
%ResponsiveRatio--3x1 {
	@include responsive-ratio(3x1);
}

/// @name ResponsiveRatio--3x2
%ResponsiveRatio--3x2 {
	@include responsive-ratio(3x2);
}

/// @name ResponsiveRatio--3x4
%ResponsiveRatio--3x4 {
	@include responsive-ratio(3x4);
}

/// @name ResponsiveRatio--4x1
%ResponsiveRatio--4x1 {
	@include responsive-ratio(4x1);
}

/// @name ResponsiveRatio--4x3
%ResponsiveRatio--4x3 {
	@include responsive-ratio(4x3);
}

/// @name ResponsiveRatio--5x1
%ResponsiveRatio--5x1 {
	@include responsive-ratio(5x1);
}

/// @name ResponsiveRatio--5x2
%ResponsiveRatio--5x2 {
	@include responsive-ratio(5x2);
}

/// @name ResponsiveRatio--5x3
%ResponsiveRatio--5x3 {
	@include responsive-ratio(5x3);
}

/// @name ResponsiveRatio--5x4
%ResponsiveRatio--5x4 {
	@include responsive-ratio(5x4);
}

/// @name ResponsiveRatio--16x9
%ResponsiveRatio--16x9 {
	@include responsive-ratio(16x9);
}
