//---------------------------------------------------------------
// Is a color in the colors map?
//---------------------------------------------------------------

@function is-color($_color) {

	$_color: unquote(string($_color));
	$_has-index: (index(map-keys($colors), $_color) != null);
	$_is-color: (type-of($_color) == color);
	$_is-string: (type-of($_color) == string);

	@return ($_is-string or $_is-color) and $_has-index;

}
