/// Length
/// @name unit-length
/// @group Fabric Functions
/// @param {number} $number [] - Set the number you want to append to the unit type
/// @param {string} $unit [] - Set the type of unit you want the number to appended to
/// @require {function} SassCore::index
/// @require {function} SassCore::nth
/// @return {number | boolean}

@function unit-length($number, $unit) {
	$strings: 'px' 'cm' 'mm' '%' 'ch' 'fr' 'pica' 'in' 'em' 'rem' 'pt' 'pc' 'ex' 'vw' 'vh' 'vmin' 'vmax';
	$units: 1px  1cm  1mm  1%  1ch 1fr 1pica  1in  1em  1rem  1pt  1pc  1ex  1vw  1vh  1vmin  1vmax;
	$index: index($strings, $unit);

	@if not $index {
		@return false;
	}

	@return $number * nth($units, $index);
}
