/// Validate (and normalize) a position value
/// @name validate-position
/// @group Fabric Functions
/// @param {string} $_position [] - Set the position you want to validate
/// @require {function} SassCore::index
/// @require {function} SassCore::unquote
/// @require {function} string
/// @return {string}

@function validate-position($_position) {

	$_position: string($_position);
	$_valid_positions: ('top', 'right', 'bottom', 'left');

	@if not index($_valid_positions, $_position) {
		@warn('Direction should be either top, right, bottom or left. Top used instead.');
		$_position: 'top';
	}

	$_position: unquote($_position);

	@return $_position;

}
