.Sidebar {
	@include padding(large small);
	@include transition(transform normal);
	background: get-color('dark-gray');
	bottom: 0;
	left: 0;
	line-height: 17px;
	overflow: auto;
	padding-top: 36px + get-spacing(xx-large) + get-spacing(large);
	position: fixed;
	top: 0;
	width: 280px;
	z-index: 10;
	
	&:before {
		@extend %Logomark;
		border-color: get-color('gray');
		content: '';
		left: 50%;
		position: absolute;
		top: get-spacing(xx-large);
		transform: translate(-50%, 0);
	}
}


@include media('<small') {
	.Sidebar {
		transform: translate(-280px, 0);
	}

	.has-sidebarToggled .Sidebar {
		transform: translate(0, 0);
	}
}
