.Sidebar-menuToggle {
	@include transition(opacity normal, transform normal);
	height: 36px;
	left: 0;
	opacity: 0;
	padding: 8px 0;
	position: fixed;
	top: get-spacing(xx-large);
	transform: translate(280px, 0);
	width: get-spacing(medium);
	z-index: 50;
	
	svg {
		display: block;
		height: 20px;
		margin: 0 auto;
		width: 24px;
	}
	
	path {
		fill: get-color('gray');
	}
}


@include media('<small') {
	.Sidebar-menuToggle {
		opacity: 1;
		transform: translate(0, 0);
	}

	.has-sidebarToggled .Sidebar-menuToggle {
		opacity: 0;
		transform: translate(280px, 0);
	}
}
