.Sidebar {
	@include padding(large small);
	background: getColor('darkGray');
	bottom: 0;
	font-size: 14px;
	left: 0;
	line-height: 1.1em;
	padding-top: 40px + getSpacing('large') * 2;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 50;
	
	&:before {
		@extend %Logomark;
		border-color: getColor('white');
		content: '';
		left: 50%;
		position: absolute;
		top: getSpacing('large');
		transform: translate(-50%, 0);
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		ul {
			@include margin(xxSmall 0 0 xxSmall);
		}
	}
	
	> ul > li {
		@include padding(xxSmall 0);
		border-top: 1px solid rgba(getColor('white'), 0.1);
	}
	
	li li {
		@include margin(xxSmall 0);
	}
	
	a {
		@extend %animated-underline;
		color: getColor('white');
	}
}
