@use 'sass:math';

///
/// Sets the size for a button
///
/// @group Mixins
/// @param {String} $height - Height applied to the button
/// @param {String} $padding - Horizontal padding applied to the button
/// @param {String} $border-width - Border width applied to the button
/// @param {String} $radius - Border radius applied to the button using either a unit value or the string "rounded"
///
@mixin button-size($_height, $_padding: $buttons-padding, $_border-width: $buttons-border-width, $_radius: $buttons-radius) {
	@include responsive-property('height', $_height);
	@include responsive-property('line-height', $_height, 'calc(%s - #{x-to-px($_border-width) * 2})');
	@include responsive-property('padding', $_padding, '0 %s');
	border-width: x-to-px($_border-width);

	@if $_radius == 'rounded' {
		border-radius: x-to-px(math.div($_height, 2));
	} @else {
		border-radius: x-to-px($_radius);
	}
}
