///
/// Sets the color for a button
///
/// @group Mixins
/// @param {String} $background-color - Background color applied to the button; defaults to $buttons-background-color
/// @param {String} $border-color - Border color applied to the button; defaults to $buttons-border-color
/// @param {String} $text-color - Text color applied to the button; defaults to $buttons-text-color
///
@mixin button-colors($background-color: $buttons-background-color, $border-color: $buttons-border-color, $text-color: $buttons-text-color) {

	--button-background-color: #{get-color($background-color)};
	--button-border-color: #{get-color($border-color)};
	--button-color: #{get-color($text-color)};

}
