///
/// Responsively sets font-size based on key in $font-size map
///
/// @group Mixins
/// @param {String} $key - Key defined in $font-size map
/// @param {String} $breakpoint - If defined as a sub value, will only apply the specific breakpoint value
///
@mixin font-size($_value, $_size: '') {

	@if type-of($_value) == string and index(map-keys($font-size), $_value) {

		$_font-size: get-font-size($_value, $_size);

		@if type-of($_font-size) == 'map' {

			$first: true;
			@include responsive-property('font-size', $_font-size);

		} @else {

			font-size: #{$_font-size};

		}

	}

}
