@use 'sass:math';

/// @name grid-gaps
/// @group Fabric Mixins
/// @access public
/// @param {string} $_key ['normal'] - Set the grid gap

@mixin grid-gaps($_key: 'normal') {
	$_gap-width: get-grid-gap($_key);
	margin: 0 math.div(-$_gap-width, 2) (-$_gap-width);
	width: calc(100% + #{$_gap-width});

	> div {
		padding: 0 math.div($_gap-width, 2) ($_gap-width);
	}
}
