///
/// Responsively sets line-height based on key in $line-height map
///
/// @group Mixins
/// @param {String} $key - Key defined in $line-height map
/// @param {String} $breakpoint - If defined as a sub value, will only apply the specific breakpoint value
///
@mixin line-height($_value, $_size: '') {

	@if type-of($_value) == string and index(map-keys($line-height), $_value) {

		$_line-height: get-line-height($_value, $_size);

		@if type-of($_line-height) == 'map' {

			$first: true;
			@include responsive-property('line-height', $_line-height);

		} @else {

			$_font-size: get-font-size($_value);

			@if type-of($_font-size) == 'map' {
				$_font-size: get-font-size($_value, nth(map-keys($_font-size), 1));
			}

			line-height: #{$_line-height / $_font-size};

		}

	}

}
