@use 'sass:math';
@use '../placeholders/ratio';

//---------------------------------------------------------------
// Sets responsive ratio on an object
//---------------------------------------------------------------

@mixin responsive-ratio($ratios, $unit: '%') {

	@extend %ratio;

	$width: number(nth(explode($ratios, 'x'), 1));
	$height: number(nth(explode($ratios, 'x'), 2));

	@if ($unit != '%') {
		width: add-unit(100, $unit);
	}

	&:before {
		padding-bottom: add-unit(100, $unit) * math.div($height, $width);
	}
}
