@use 'sass:math';
@use '../placeholders/ratio';

//---------------------------------------------------------------
// Sets responsive ratio on an object
//---------------------------------------------------------------

@mixin responsive-ratio($ratios: '1x1', $unit: '%') {

	@extend %ratio;

	@if ($ratios) {
		$ratios: explode($ratios, 'x');
	} @else {
		$ratios: 1 1;
	}

	$width: number(nth($ratios, 1));
	$height: number(nth($ratios, 2));

	--ratio-height: #{$height};
	--ratio-width: #{$width};

	@if ($unit != '%') {
		--width: #{add-unit($width, $unit)};
	}
}
