///
/// Responsively sets text-transform based on key in $text-transform map
///
/// @group Mixins
/// @param {String} $key - Key defined in $text-transform map
/// @param {String} $breakpoint - If defined as a sub value, will only apply the specific breakpoint value
///
@mixin text-transform($_value, $_size: '') {

	@if type-of($_value) == string and index(map-keys($text-transform), $_value) {

		$_text-transform: get-text-transform($_value, $_size);

		@if type-of($_text-transform) == 'map' {

			$first: true;
			@include responsive-property('text-transform', $_text-transform);

		} @else {

			text-transform: #{$_text-transform};

		}

	}

}
