//---------------------------------------------------------------
// Sets transition timing function
//---------------------------------------------------------------

@mixin transition-timing-function($_functions...) {

	$_result: ();

	@if length($_functions) == 0 {
		$_functions: (
			'linear'
		);
	}

	@for $i from 1 through length($_functions) {

		$_property: nth($_functions, $i);
		$_sub-result: ();

		@if type-of($_property) == string {
			$_property: explode($_property, ' ');
		}

		@each $_sub-property in $_property {

			$_sub-result: get-timing-function($_sub-property);

		}

		$_result: append($_result, $_sub-result, comma);
	}

	transition-timing-function: #{$_result};

}
