html {
	@include color(default);
	@include font(base, true);
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	font-variation-settings: 'wght' var(--font-weight);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);
	text-transform: var(--text-transform);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

%h {
	@include margin(0 0 3x);
	font-family: var(--font-family-heading);

	a,
	a:active,
	a:hover {
		color: inherit;
	}
}

h1,
.h1 {
	@extend %h;
	@include font(h1);
}

h2,
.h2 {
	@extend %h;
	@include font(h2);
}

h3,
.h3 {
	@extend %h;
	@include font(h3);
}

h4,
.h4 {
	@extend %h;
	@include font(h4);
}

h5,
.h5 {
	@extend %h;
	@include font(h5);
}

h6,
.h6 {
	@extend %h;
	@include font(h6);
}

p {
	@include margin(0 0 3x);
}

ul,
ol,
blockquote,
table,
address,
form,
pre {
	@extend %margins !optional;
}

ol {
	@extend %ol !optional;
}

ul {
	@extend %ul !optional;
}

a {
	@extend %a !optional;
}

article {
	@extend %article !optional;
}

strong {
	@extend %strong !optional;
}

pre {
	@extend %pre !optional;
}

code {
	@extend %code !optional;
}

pre code {
	display: block;
}

blockquote {
	@extend %blockquote !optional;
}

img {
	@extend %img !optional;
}
