* {
	font-size: var(--font-size, 16px);
	font-weight: var(--font-weight, 400);
	font-variation-settings: 'wght' var(--font-weight, 400);
	line-height: var(--line-height, 1.5);
	text-transform: var(--text-transform, none);
}

html {
	@extend %html !optional;
}

body {
	@extend %body !optional;
}

h1,
.h1 {
	@extend %h !optional;
	@extend %h1 !optional;
}

h2,
.h2 {
	@extend %h !optional;
	@extend %h2 !optional;
}

h3,
.h3 {
	@extend %h !optional;
	@extend %h3 !optional;
}

h4,
.h4 {
	@extend %h !optional;
	@extend %h4 !optional;
}

h5,
.h5 {
	@extend %h !optional;
	@extend %h5 !optional;
}

h6,
.h6 {
	@extend %h !optional;
	@extend %h6 !optional;
}

p {
	@extend %p !optional;
}

ul,
ol,
blockquote,
table,
address,
form,
pre {
	@extend %margins !optional;
}

ol {
	@extend %ol !optional;
}

ul {
	@extend %ul !optional;
}

a {
	@extend %a !optional;
}

article {
	@extend %article !optional;
}

strong {
	@extend %strong !optional;
}

pre {
	@extend %pre !optional;
}

code {
	@extend %code !optional;
}

blockquote {
	@extend %blockquote !optional;
}

img {
	@extend %img !optional;
}
